java/webservice/cxf/src/com/sinosoft/payment/webservice/simple/simple.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="service.simple.webservice.payment.sinosoft.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SimpleServiceImplService" targetNamespace="service.simple.webservice.payment.sinosoft.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="service.simple.webservice.payment.sinosoft.com" elementFormDefault="unqualified" targetNamespace="service.simple.webservice.payment.sinosoft.com" version="1.0">

  <xs:element name="query" type="tns:query"/>

  <xs:element name="queryEntity" type="tns:queryEntity"/>

  <xs:element name="queryEntityResponse" type="tns:queryEntityResponse"/>

  <xs:element name="queryResponse" type="tns:queryResponse"/>

  <xs:complexType name="queryEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:simpleEntity"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="simpleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="queryEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="query">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="queryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryResponse">
    <wsdl:part element="tns:queryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryEntity">
    <wsdl:part element="tns:queryEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryEntityResponse">
    <wsdl:part element="tns:queryEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="query">
    <wsdl:part element="tns:query" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SimpleService">
    <wsdl:operation name="queryEntity">
      <wsdl:input message="tns:queryEntity" name="queryEntity">
    </wsdl:input>
      <wsdl:output message="tns:queryEntityResponse" name="queryEntityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:input message="tns:query" name="query">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse" name="queryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleServiceImplServiceSoapBinding" type="tns:SimpleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="query">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleServiceImplService">
    <wsdl:port binding="tns:SimpleServiceImplServiceSoapBinding" name="SimpleServicePort">
      <soap:address location="http://coco:8080/cxf/webservice/webservice/readPaymentStatus"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>